#locationView {
    max-height: calc(100% - $navHeight - $speechInputSize - 4em);
    max-width: 80%;
    background-color: #ccc;
    aspect-ratio: auto $locationViewRatio;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#locationDisplay {
    background-color: rgba(60,0,60,0.2);
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: $locationViewRatio;
}

#itemDisplay {
    justify-items: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;

    .field {
        border-width: 1px;
        border-style: dashed;
        aspect-ratio: 1 / 1;
    }
}