#mainNavigation {
    flex-direction: row;
    overflow: hidden;
    background-color: #666;
    top: 0;
    margin-bottom: 10px;
    height: $navHeight;

    > * {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
    }

    ul {
        display: inline-flex;
    }

    li {
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        width: $locationCardSize;
        height: $locationCardSize;
        margin: 0 0.5rem;

        > * {
            width: 100%;
            align-content: center;
        }
    }

    .card {
        position: relative;
        display: block;
        width: 100%; 
        height: 100%; 
        background-color: #777; 
        color: #fff;
        margin: auto;
    }

    .cardContent {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    .locationCard { 
        border-radius: $locationCardBorderRadius;
        width: $locationCardSize;
        height: $locationCardSize;
    }

    .itemCard {
        width: $itemCardSize;
        height: $itemCardSize;
        border-radius: 50%;
    }

    #settings-icon {
        width: $itemCardSize;
        height: $itemCardSize;
        display: flex;

        p {
            text-align: center;
            margin: auto;
        }
    }
}
/* Card expands with inner margin TODO
.item-card-menu {
    position: relative;
    margin:15px auto;
    padding: 1rem;
    background-color: #ddd;
}

// Card menu arrow
.item-card-menu::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 40px;
    top: -17px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 17px solid #ddd;
}
*/

.item-option {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0 12px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;

    > * {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        transform: translate(0, -50%);
    }
}