/** Navigation */
$navHeight: 8.2rem;
$locationCardSize: 120px;
$itemCardSize: 110px;

/** Settings */
$settings-menu-width: 8.4rem;
$settings-symbol-size: 90px;

/** SpeechInput */
$speechInputSize: 100px;

/** LocationView */
$locationViewMarginX: 10em;
$locationViewMarginY: 2em;
$locationViewRatio: 2 / 1;
$locationViewWidth: calc( 100% - (2 * $locationViewMarginX));
$locationViewHeight: calc( 100% - $navHeight - $speechInputSize - (2 * $locationViewMarginY));
$fieldSize: 50px;