/** Navigation */
$navHeight: 8.2rem;
$locationCardSize: 120px;
$locationCardBorderRadius: 15px;
$itemCardSize: 110px;

/** Settings */
$settings-menu-width: 8.4rem;
$settings-symbol-size: 100px;

/** SpeechInput */
$speechInputSize: 100px;

/** LocationView */
$locationViewMarginX: 1em;
$locationViewMarginY: 2em;
$locationViewRatio: 2.8 / 1;
$locationViewWidth: calc( 100% - (2 * $locationViewMarginX) );
$locationViewHeight: calc( 100% - $navHeight - $speechInputSize - (2 * $locationViewMarginY) );
$maxFieldSize: 50px;