body {
  margin: 0;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}