#mainNavigation {
    flex-direction: row;
    overflow: hidden;
    background-color: #666;
    top: 0;
    margin-bottom: 10px;
    height: $navHeight;

    > * {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
    }

    ul {
        display: inline-flex;
    }

    li {
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        width: $locationCardSize;
        height: $locationCardSize;
        margin: 0 0.5rem;
        border-style: dashed;
        border-width: 1px;

        > * {
            width: 100%;
            align-content: center;
        }
    }

    .card {
        position: relative;
        display: block;
        width: 100%; 
        height: 100%; 
        background-color: #777; 
        color: #fff;
        margin: auto;
    }

    .cardContent {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%)
    }

    .locationCard { 
        border-radius: 15px;
        width: $locationCardSize;
        height: $locationCardSize;
    }

    .itemCard {
        width: $itemCardSize;
        height: $itemCardSize;
        border-radius: 50%;
    }

    #settings-icon {
        width: $itemCardSize;
        height: $itemCardSize;
        display: flex;

        p {
            text-align: center;
            margin: auto;
        }
    }
}